.pages{
  margin: 0 auto;
  width: auto;
  height: inherit;
}
.pages-sidebar-container {
  display: flex;
  flex-direction: row;
  height: inherit;
  background-color: aqua;
}
.App {
  height: 100vh;
}